.centre {
    text-align: center;
}

.up {
    margin-top: 100px;
    text-align: center;
}

.cadre {
    border: solid;
    width: 50%;
    height: auto;
    margin-left: 25%;
    border-radius:15px;
}

.bmenu {
    border: solid;
    border-radius:15px;
    width: 70px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.bmenu:hover {
    background-color: #3bdffc;
}