h2 {
    margin-top: 0; 
    margin-bottom: 0; 
}

.centre {
    text-align: center;
}

.up {
    margin-top: 100px;
    text-align: center;
}

.cadre {
    border: solid;
    width: 50%;
    height: auto;
    margin-left: 25%;
    border-radius:15px;
}

.bmenu {
    border: solid;
    border-radius:15px;
    width: 70px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.bmenu:hover {
    background-color: #3bdffc;
}

#contenu1 {
    display: none;
}

#titre1 {
    cursor: pointer;
    transition: background-color 1.5s ease;
    border-radius: 10px  10px 0 0;
}

#contenu2 {
    display: none;
}

#titre2 {
    cursor: pointer;
    transition: background-color 1.5s ease;
    border-radius: 10px 10px 0 0;
}

#titre1:hover {
    background-color: #3bdffc;
}

#titre2:hover {
    background-color: #3bdffc;
}

.hr1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.rounded {
    border-radius: 10px !important;
}