body {
    background-image: url(fond.jpg);
    margin: 0;
}

h2 {
    margin-top: 0; 
    margin-bottom: 0; 
}

button {
    border-radius: 7px;
    cursor: pointer;
    margin-top: 3px;
}

.centre {
    text-align: center;
    text-decoration: none;
}

.centrei {
    text-align: center;
    text-decoration: none;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 10px;
}

.up {
    margin-top: 100px;
    text-align: center;
}

.cadre {
    border: solid;
    width: 50%;
    height: auto;
    margin-left: 25%;
    border-radius:15px;
    background-color: white;
}

.bmenu {
    border: solid;
    background-color: white;
    margin-top: 10px;
    border-radius:15px;
    width: 70px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.bmenu:hover {
    background-color: #3bdffc;
}

#contenu1 {
    display: none;
}

#titre1 {
    cursor: pointer;
    transition: background-color 1.5s ease;
    border-radius: 10px  10px 0 0;
}

#contenu2 {
    display: none;
}

#titre2 {
    cursor: pointer;
    transition: background-color 1.5s ease;
    border-radius: 10px 10px 0 0;
}

#contenu3 {
    display: none;
}

#titre3 {
    cursor: pointer;
    transition: background-color 1.5s ease;
    border-radius: 10px 10px 0 0;
}

#titre1:hover {
    background-color: #3bdffc;
}

#titre2:hover {
    background-color: #3bdffc;
}

#titre3:hover {
    background-color: #3bdffc;
}

.hr1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.rounded {
    border-radius: 10px !important;
}

#view {
    display: none; 
    margin-left: auto; 
    margin-right: auto;
}

#view2 {
    display: none; 
    margin-left: auto; 
    margin-right: auto;
}

.lienfoot{
    padding:5px;
    background-color: white;
    border: solid;
    border-radius: 15px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
}

.boutonv {
    margin-left: 10px; 
    border: solid; 
    width:20px; 
    display: inline-block; 
    vertical-align: middle; 
    padding:2px; 
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.boutont {
    padding:5px;
    border: solid;
}